@model Biblioteca.Livros.Web.ViewModels.Livro.LivroIndexViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeColecao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeColecao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeLivro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeLivro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLivro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
